<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewData["Title"] - Flower Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/templatemo_style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico" />
</head>
<body>
    <div id="templatemo_container">
        <div id="templatemo_top_panel">
            <div id="templatemo_language_section">
                <a href="#"><img src="~/images/templatemo_flag_01.gif" alt="flag 1" /></a>
                <a href="#"><img src="~/images/templatemo_flag_02.gif" alt="flag 2" /></a>
                <a href="#"><img src="~/images/templatemo_flag_03.gif" alt="flag 3" /></a>
                <a href="#"><img src="~/images/templatemo_flag_04.gif" alt="flag 4" /></a>
                <a href="#"><img src="~/images/templatemo_flag_05.gif" alt="flag 5" /></a>
            </div>
            <div id="templatemo_shopping_cart">
                Shopping Cart <span>(<a href="#">3 items</a>)</span>      
            </div>
        </div>
        
        <div id="templatemo_header">
            <img src="~/images/templatemo_site_header.jpg" alt="Flower Shop" />
        </div>
        
        <div id="templatemo_banner">
            <a href="#"><img src="~/images/templatemo_banner_image.jpg" alt="Flower Shop" border="0" /></a>
        </div>
        
        <div id="templatemo_menu_panel">
            <ul>
                <li><a href="/" class="current">Home</a></li>
                <li><a href="/Home/Shop">Shop</a></li>
                <li><a href="/Home/Gallery">Gallery</a></li>
                <li><a href="/Home/Promotions">Promotions</a></li>
                <li><a href="/Home/About">About Us</a></li>
                <li><a href="/Home/Contact">Contact Us</a></li>
            </ul>
        </div> <!-- end of menu -->
        
        @RenderBody()
        
        <div id="templatemo_footer_panel">
            <div id="footer_left">
                <img src="~/images/mastercard.gif" alt="Master Card" />
                <img src="~/images/visa.gif" alt="Visa Card" />
                <img src="~/images/paypal.gif" alt="PayPal" />
                <img src="~/images/verisignsecured.gif" alt="Verisign Secured" />
            </div>
            <div id="footer_right">
                Copyright &copy; 2026 <a href="/">Flower Shop</a><br />
                Phone: (84) 123-456-789 | Email: <a href="mailto:info@flowershop.vn">info@flowershop.vn</a><br />
                Address: 123 Flower Street, Ho Chi Minh City, Vietnam
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>
    </div>
</body>
</html>
